<div class="flex flex-col gap-2">
  <div class="flex flex-row items-center gap-4">
    <div class="text-6xl">
      29°C
    </div>
    <div>
      <img src="assets/animated/cloudy-day-1.svg" alt="weather-image" />
    </div>
  </div>
  <div class="flex font-bold text-xl">
    Turku, Finland
  </div>
  <div class="flex flex-row">
    <div>
      {{currentTime}}
    </div>

  </div>
  <div class="flex flex-row gap-4">
    <div>
      hightest
    </div>
    <div>
      lowest
    </div>
  </div>
  <div class="flex flex-row gap-4">
    <div>
      Sunrise
    </div>
    <div>
      Sunset
    </div>
  </div>
</div>
